In [1]:
import numpy as np
import pandas as pd

In [3]:
email='german@email.com'

In [12]:
email.isdigit()

False

In [4]:
email.split('@')

['german', 'email.com']

In [8]:
names = pd.Series(['andrew','bobo','claire','david','5'])

In [9]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [14]:
'5'.isdigit()

True

In [10]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [11]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [15]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [16]:
tech_finance = ['GOOG,APPL,AMZN','JPM,BAC,GS']

In [17]:
len(tech_finance)

2

In [18]:
tickers = pd.Series(tech_finance)

In [19]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [20]:
tickers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [24]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [26]:
tickers.str.split(',',expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [21]:
tech='GOOG,APPL,AMZN'

In [22]:
tech.split(',')

['GOOG', 'APPL', 'AMZN']

In [23]:
tech.split(',')[0]

'GOOG'

In [27]:
messy_names = pd.Series(["andrew  ","bo;bo","  claire  "])

In [28]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [29]:
messy_names[0]

'andrew  '

In [33]:
messy_names.str.replace(";","").str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [34]:
messy_names.str.replace(";","").str.strip()[0]

'andrew'

In [35]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [36]:
messy_names

0      andrew
1         bo;bo
2      claire
dtype: object

In [37]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object